<!DOCTYPE html>
<html>
<head>
	<title>Weather Information</title>
</head>
<style>
	body{
		background-color: #ADD8E6;
        font-family: sans-serif;
     }
h1 {
        font-size: 35px;
        font-weight: 300;
        text-align: center;
        }
</style>
<body>
    <br/>
    <br/>
	<h1>Sorry there is no data to display. You may have entered a wrong city.Please try again</h1>
</body>
</html>